name: CI

# Controls when the workflow will run
on:
  push:
    branches:
      - main        
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - Asgard/Asgard.Job/Asgard.Job.csproj   
          - Asgard/Asgard.IDGen/Asgard.IDGen.csproj    
          - Asgard/Asgard.Tools/Asgard.Tools.csproj       
          - Asgard/Asgard.Abstract/Asgard.Abstract.csproj   
          - Asgard/Asgard.Extends.Json/Asgard.Extends.Json.csproj      
          - Asgard/Hosts/Asgard.Hosts.AspNetCore/Asgard.Hosts.AspNetCore.csproj 
          - Asgard/SystemModules/Asgard.Hoenir/Asgard.Hoenir.csproj     
          - Asgard/SystemModules/Asgard.Caches.Redis/Asgard.Caches.Redis.csproj 
          - Asgard/SystemModules/Asgard.ConfigCenter/Asgard.ConfigCenter.csproj 
          - Asgard/SystemModules/Asgard.DataBaseManager.FreeSql/Asgard.DataBaseManager.FreeSql.csproj
          - Asgard/SystemModules/Asgard.Extends.AspNetCore/Asgard.Extends.AspNetCore.csproj 
          - Asgard/SystemModules/Asgard.Logger.FreeSqlProvider/Asgard.Logger.FreeSqlProvider.csproj 
          - Asgard/SystemModules/Asgard.MQ.RabbitMQ/Asgard.MQ.RabbitMQ.csproj 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
      - run: dotnet restore Asgard/Asgard.sln
      - run: dotnet build ${{ matrix.project }} --configuration Release --no-restore
      - run: dotnet pack ${{ matrix.project }} --configuration Release --no-build --output ./nupkg
      - name: Push to NuGet Gallery (safe)
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.GITHUBKEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
